#searchResult {
	padding-top: 20px;
	font-size: 18px;
}
#remindLogin {
	padding-bottom: 10px;
}

#searchBox {
	padding-top: 10px;
	font-size: 18px;
}

.wordInput {
	#margin-left:160px;
	width: 600px;
	margin-right: 10px;
	font-size: 22px;
}

.toggle {
	padding-bottom: 0px;
	margin-bottom: 0px;
	text-decoration: none
}

.pronounceButton {
	border: 0px;
}

.cutOffLine {
	height:1px;
	background-color:rgb(207, 198, 198);
	margin-bottom:15px;
	margin-top:5px;
}

.wordName {
	font-weight: 700;
	font-size: 24px;
}
.container {
	width: 800px;
}
body {
	background-color: #eee;
}
a {
	cursor: pointer;
}

.topBar a{
	margin-right: 10px;
}

